body{
  font-family:"メイリオ";
}

h1{
  color:indigo;
}

h3{
  color:slateblue; 
}

h4{
  color:orchid;
}

p{
  color:slategray;
}

ul{
  color:slategray;
}

li{
  color:slategray;
}

a{
  color:mediumvioletred;
}
