body{
  font-family:"游ゴシック";
  background-image:url("./背景.jpg");
  background-position:left top;
  background-size:30%
  background-repeat:no-repeat;
  background-attachment:fixed;
}

h1{
  color:indigo;
}

h3{
  color:slateblue; 
}

h4{
  color:orchid;
}

p{
  color:slategray;
}

ul{
  color:slategray;
}

li{
  color:slategray;
}

a{
  color:mediumvioletred;
}
